<div class="hero">
    <img src="https://i.postimg.cc/4x12v2cB/triangle-top.png" class="triangle1">
    <img src="https://i.postimg.cc/WpQyskj6/triangle-left.png" class="triangle2">
    <img src="https://i.postimg.cc/MZc4kDkp/circle.png" class="circle">
    <nav>
        <h1 class="ncb">KBZ pj</h1>
    </nav>
    <div class="row">
        <div class="col-1">
            <img src="https://i.postimg.cc/15wjX33x/man.png">
            <img src="https://i.postimg.cc/2SYXZN11/elements.png" class="elements">
        </div>
        <div class="col-2">
            <h1><span>RESTful</span> API</h1>
        </div>
    </div>
</div>
